<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Mms.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>79A178D3B9746BE4922D7E36314C5885FA7556F7</string>
				<key>dateExpires</key>
				<string>2022/6/26</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>S94NWZ464Z.com.df.mms</string>
				<key>com.apple.developer.team-identifier</key>
				<string>S94NWZ464Z</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>S94NWZ464Z.com.df.mms</string>
				</array>
			</dict>
			<key>name</key>
			<string>Mms.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c1cdc15f-03f6-4462-844a-df0abbd580b1</string>
				<key>name</key>
				<string>DFMMS</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>S94NWZ464Z</string>
				<key>name</key>
				<string>Dongfeng Motor Group Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
